<div class="container">
  {{#each model as |item|}}
    <div class="row featurette item">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{item.name}}
          <span class="text-muted">${{item.cost}}</span></h2>
        <p class="lead">{{item.description}}</p>
        <button {{action 'addToCart' item}}>Add to Cart</button>
      </div>
      <div class="col-md-2">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{item.image}}" data-holder-rendered="true">
      </div>
    </div>
    <hr class="featurette-divider">
  {{/each}}
</div>
